.title {
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.image {
    justify-content: center;
    display: flex;
}

.info {
    background-color: green;
    font-size: 40px;
    text-align: center;
}

.direct {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.recipes {
    color:green;
    font-size: 70px;
    text-align: center;
}

div {
    text-align: center;
}

button {
    background-color: green;
    color: black;
    font-size: 50px;

}





